In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

### Load Data

In [2]:
proj_path = Path('/home/ekarakoylu/PROJEX/directed_sentiment_nli')
dev_data_path = proj_path / 'data/sentihood/sentihood_dev.json'
train_data_path = proj_path / 'data/sentihood/sentihood_train.json'
test_data_path = proj_path / 'data/sentihood/sentihood_test.json'

In [3]:
assert dev_data_path.exists()
assert train_data_path.exists()
assert test_data_path.exists()

### Clean Data

In [4]:
def clean_dataframe(df):
    dclean = pd.concat(
        (df.explode('opinions')['opinions'].apply(pd.Series), 
        df.drop('opinions', axis=1)),
        axis=1, join='outer').drop(0, axis=1).dropna().reset_index(drop=True)
    return dclean

In [5]:
ddev = pd.read_json(dev_data_path)

In [6]:
ddev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747 entries, 0 to 746
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   opinions  747 non-null    object
 1   id        747 non-null    int64
 2   text      747 non-null    object
dtypes: int64(1), object(2)
memory usage: 17.6+ KB

In [7]:

ddvc = clean_dataframe(ddev)
ddvc.head()

,sentiment,aspect,target_entity,id,text
0,Positive,shopping,LOCATION1,302,LOCATION1 is just a normal area that happens ...
1,Positive,transit-location,LOCATION1,662,", LOCATION1 , LOCATION2 are all good places to..."
2,Positive,transit-location,LOCATION2,662,", LOCATION1 , LOCATION2 are all good places to..."
3,Negative,safety,LOCATION1,292,A Brazilian man was shot there 3 years ago in ...
4,Negative,safety,LOCATION1,78,A friend of mine lived in LOCATION1 and she li...

In [8]:
dtr = pd.read_json(train_data_path)

In [9]:
dtr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2977 entries, 0 to 2976
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   opinions  2977 non-null   object
 1   id        2977 non-null   int64
 2   text      2977 non-null   object
dtypes: int64(1), object(2)
memory usage: 69.9+ KB

In [10]:
dtr.head()

,opinions,id,text
0,"[{'sentiment': 'Negative', 'aspect': 'price', ...",1430,LOCATION1 is transforming and the prices w...
1,"[{'sentiment': 'Positive', 'aspect': 'shopping...",2013,Along LOCATION1 there are lots of Electronic...
2,"[{'sentiment': 'Positive', 'aspect': 'transit-...",1244,And LOCATION1 is ten mins direct on the tube...
3,"[{'sentiment': 'Positive', 'aspect': 'nightlif...",209,Another option is LOCATION1 which is very ce...
4,"[{'sentiment': 'Positive', 'aspect': 'general'...",2824,Best bet is around LOCATION2 and LOCATION1 a...

In [11]:
dtrc = clean_dataframe(dtr)

In [12]:
dtrc.head()

,sentiment,aspect,target_entity,id,text
0,Negative,price,LOCATION1,1430,LOCATION1 is transforming and the prices w...
1,Positive,shopping,LOCATION1,2013,Along LOCATION1 there are lots of Electronic...
2,Positive,transit-location,LOCATION1,1244,And LOCATION1 is ten mins direct on the tube...
3,Positive,nightlife,LOCATION1,209,Another option is LOCATION1 which is very ce...
4,Positive,transit-location,LOCATION1,209,Another option is LOCATION1 which is very ce...

In [13]:
dtrc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3396 entries, 0 to 3395
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sentiment      3396 non-null   object
 1   aspect         3396 non-null   object
 2   target_entity  3396 non-null   object
 3   id             3396 non-null   int64
 4   text           3396 non-null   object
dtypes: int64(1), object(4)
memory usage: 132.8+ KB

In [14]:
dtrc.sentiment.value_counts()

Positive    2475
Negative     921
Name: sentiment, dtype: int64